# .gitignore
atg-10.1.2/tools/V35852-01.zip
atg-10.1.2/tools/V35860-01.zip
atg-10.1.2/tools/SiteBuilder-3.1.2-ATG10.1.jar
weblogic-10.3.6/tools/jdk-7u79-linux-x64.rpm
weblogic-10.3.6/tools/wls1036_generic.jar
build.log
